# tested on Python 3.7-3.12
sympy>=1.10
numpy
scipy # recommend version >= 1.6 for high-ds in Linear Programming

# SDP solver (can be replaced by other python SDP libraries,
# e.g. mosek, clarabel, cvxopt, cvxpy, sdpa, etc.,
# this will be detected automatically by the code):
picos



# For gradio launch (and deployment on online platforms, e.g. huggingface):
pillow
gradio==3.44.4 # LaTeX rendering sensitive to the version, recommend 3.44.4

# For flask launch (recommended for individual use):
# pip install flask
# pip install flask_cors
# pip install flask_socketio



# For enhanced performance, consider installing gmpy2 (compatible with Python 3.7-3.13):
gmpy2

# For enhanced performance, consider installing python-flint (compatible with CPython 3.9-3.12):
# pip install python-flint